// ==========================================================================
// Grid display
// ==========================================================================

.is-displayed-mobile {
	@include mq(phone) {
		display: block;
		@at-root (with: media) {
			.is-hidden-mobile {
				display: none;
			}
		}
	}
	@include mq(tablet) {
		display: none;
	}	
}