// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: palette(grey, xx-light);
	color: palette(grey);
	font-size: $base__font-size;
	font-family: $font-family--primary;
	line-height: ($base__line/$base__font-size);
}

// Text



h2 {
	@extend %hdln-sec;
}

h3 {
	@extend %hdln-ter;
}

h4 {
	@extend %hdln-quat;
}

a {
	@extend %a;
}

p {
	@extend %p; 
}

blockquote {
	@extend %blqt; 
}

// Lists

ul,
li {
	@extend %list; 
}

// Images

img {
	@extend %img; 
}

// Form elements

input, 
textarea {
	@extend %form-el; 
}



// Button

button {
	outline: 0;
}

// Layout

footer {
	border-top: 1px solid palette(grey, xx-light);
	p {
		font-size: em(16px);
		margin-top: em(22px, 16px);
	}
}