@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat/";

$visual-grid: true !global; 
$column: 90px !global;
$gutter: 1px !global;
$grid-columns: 10 !global;
$max-width: em(1088) !global;

// ==========================================================================
// Normalize Reset
// ==========================================================================
@import "../bower_components/normalize-css/normalize/";

// ==========================================================================
// Base Styles for club
// ==========================================================================
@import 'base-club';