// ==========================================================================
// Buttons
// ==========================================================================

// removes user agent button outline
button {
	outline: 0;
}

//plain 'ol buttons

.btn {
  @include bg-colors($ui-colors);
	&:hover {
		box-shadow: 0 3px darken($color, 25);
		color: $white;
		top: 2px;
	}
	&:active {
		box-shadow: 0 0 rgba(0,0,0,.35);
		color: $white;
		top: 6px;
	}
}


[class^="btn--"] {
	@extend %center-align;
	@extend %btn;
	margin-bottom: em(20px, 14px); 
	@include mq(phone) {
		width: 100%;
	}
	@include mq(tablet) { 
		width: auto;
		display: inline-block;
		@include doubly(20px);
	}
}



// round shaped buttons

.rnd-btn {
  @include bg-colors($ui-colors);
}

[class^="rnd-btn--"] {
	@extend %center-align;
	@extend %rnd-btn;
	margin-bottom: em(20px, 14px); 
}
