// ==========================================================================
// Buttons
// ==========================================================================

// removes user agent button outline
button {
	outline: 0;
}

//plain 'ol buttons

.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
	@extend %center-align;
	@extend %btn;
	margin-bottom: em(20px, 14px); 
	@include mq(phone) {
		width: 100%;
	}
	@include mq(tablet) { 
		width: auto;
		display: inline-block;
		@include doubly(20px);
	}
}


//embossed buttons

.btn-emb {
  @include bg-colors($ui-colors);
}

[class^="btn-emb--"] {
	@extend %center-align;
	@extend %btn;
	margin-bottom: em(20px, 14px); 
	@include mq(phone) {
		width: 100%;
	}
	@include mq(tablet) { 
		width: auto;
		display: inline-block;
		@include doubly(20px);
	}
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}


// round shaped buttons

.rnd-btn {
  @include bg-colors($ui-colors);
}

[class^="rnd-btn--"] {
	@extend %center-align;
	@extend %rnd-btn;
	margin-bottom: em(20px, 14px); 
}


