// ==========================================================================
// Layout Placeholders
// ==========================================================================

// Panel

%panel-default {
	padding-top: em(30px);
	@include mq(tablet) {
		padding-bottom: em(20px);
	}
}

%panel-padding {
	padding-top: em(34px);
	@include mq(tablet) {
		padding-top: em(80px);
		padding-bottom: em(34px);
	}
}


// ==========================================================================
// UI Placeholders
// ==========================================================================

// Nav Items

%nav-item-horz {
	@include mq(tablet) {
		display: inline-block;
		margin: 0 em(12px);
	}
}

%nav-item-link {
	border-bottom: 1px solid transparent;
	display: block;
	font-size: em(18px);
	font-weight: $font-weight--light;
	padding: em(8px, 18px);
	text-align: center;
	text-decoration: none;
	@include mq(phone) {
		border-bottom-color: palette(grey, xx-light);
		padding-bottom: em(14px, 18px);
		padding-top: em(14px, 18px);
	}
}

%nav-item-on {
	border-color: $color-primary;
	color: palette(black);
}

// Headlines

%hdln-prim {
	color: palette(black, dark);
	display: block;
	font-size: em(42px);
	font-weight: $font-weight--light;
	line-height: (46px/42px);
	margin-top: 0;
}

%hdln-sec {
	color: palette(black, base);
	display: block;
	font-family: $font-family--secondary;
	font-size: em(24px);
	font-weight: $font-weight--thin;
	letter-spacing: $letter-space;
}

%hdln-ter {
	color: palette(black, base);
	display: block;
	font-size: em(20px);
	font-weight: $font-weight--ultra-bold;
	text-transform: uppercase;
}


// links

%a {
	color: $dodger-blue ; 
	font-weight: $font-weight--medium;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

// paragraph

%p {
	color: palette(grey, base);
	font-size: em(18px);
	font-weight: $font-weight--light;
	line-height: (27px/18px);
	margin: 0 0 em(30px, 18px);
}

// blockquote

%blqt {
	@media (min-width: 769px) {
		border-left: em(8px, 24px) solid palette(grey, x-light); 
		font-size: em(24px);
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
	}
	font-size : em(20px);
	font-style : italic;
	font-weight: $font-weight--light;
}

//lists

%list {
	color: palette(grey, xx-light);
	list-style-type: none;
	margin: 0;
	padding: 0;
}

//images

%img {
	margin-bottom: em(24px);
	max-width: 100%;
	height: auto;
}

// Form elements

%form-el {
	display: block;
	padding: 15px;
	width: 100%; 
	outline: 0;
	border: 0;
	&:focus {
		transition: $trns_duration;
	}
}



// Buttons

%btn {
	border-radius : $br--default;
	border: 0;	
	box-shadow: inset 0 -0.35em rgba(0, 0, 0, .35);
	color: $white;
	display: block;
	font-size : em(14px);
	font-weight: $font-weight--medium;
	padding: em(15px, 30px);
	text-transform: uppercase;
	transition: opacity $trns-duration;
	&:hover,
	&:active  {
		transform: scale(.95);
	}
}
 
// Round shaped buttons

%rnd-btn {
	border: 0;
	border-radius: $br--round;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,.12);
	color: $white;
	display: inline-block;
	height: em(70px);
	padding: em(13px) em(15px);
	@include transition(all 250ms ease-in-out);
	width: em(70px);
	&:hover,
	&:active  {
		transform: scale(.95);
	}
}

// Icons

%icn--ui {
	cursor: pointer;
	line-height: 0;
}

//main cards
%card {
	background: #fff;
	border-radius: em(5px);
	box-shadow: 0 .2em 0 0 #d4d4d5,0 0 0 1px palette(grey, xx-light);
	clear: both;
	display: block;
}
