// ==========================================================================
// Images
// ==========================================================================

.img {
	@include m(wrap) {
		border: 1px solid palette(grey, x-light);
		padding: em(12px);
	}
	@include m(avatar) {
		border-radius: $br--round;
		display: block;
	}
	@include m(estab) {
		width: 100%;
	}
}
